* {
    box-sizing: border-box;
}

body {
margin: 0;
display: flex;
flex-direction: column;
font-family: 'Spartan', sans-serif;
}

/* HEADER AREA */
header {
    padding: 20px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;     
}

.hamburger-menu {
    width: 40px;
    height: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-right: 20px;
    order: 1;
}

.hamburger-menu div {
    height: 4px;
    width: 40px;
    border-radius: 5px;
    background: #f6af01;
}

.navbar-menu {
    display: none;
}

.title {
    order: 2;
    color: #fff;
    font-size: 30px;
    margin: auto;
    background: #f6af01;
    border-radius: 2px;
    padding: 20px 10px;
}

.hero-image{
    background-image: linear-gradient(rgba(253, 246, 246, 0.5), rgba(170, 165, 165, 0.5)), url("brunch.jpg");
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 100px 10px;
}

.magnify-icon {
    font-size:30px;
    color:#f6af01
}

.search-container {
    order: 3;
}

.search-container input {
    display: none;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* FILTER AREA */
.filter-container {
    display:flex;
    align-items: center;
    justify-content: space-around;
    padding: 30px 0px;
    margin: 10px auto;
    width: 100%;
}

.filter-radio p {
    display: none;
}

/* BEST RESTAURANT AREA */
/* .bestRestaurant {
    background: #F7B300;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
} */

/* RESTAURANT AREA */
.restaurant-title {
    text-align: center;
    margin: 10px 0px;
    padding: 15px;
    background: #f6af01;
    color: #fff;
    font-size: 22px;
    width: 100%;
}

.resturant-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.restaurant-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    background:#dcdee4;  
    margin: 10px auto;
    padding: 10px;
    border-radius: 2px;
}

.restaurant-details {
    text-align: center;
    background: #fff;
    border-radius: 2px;
    margin: 10px 0px;
    height: 100%;
    width: 100%;
}

.rest-name {
    color: #f6af01;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 700;
    margin: auto;
    height: 70px;
    width: 230px;   
    border-bottom: 2px solid #f6af01; 
}

.rest-address {
    margin: 0px;
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    height: 100px;    
    line-height: 1.5;
}

.rest-img {
    object-fit: cover;
    width: 80%;
    height: 127px;
}

/* FOOTER */
footer {
    background: #F7B300;
    padding: 5px;
    text-align: center;
}

footer p {
    color: #fff;
}

@media (min-width: 728px) {

    .navbar-menu {
        display: block;
    }

    .navbar-menu a {
        text-decoration: none;
        margin-right: 5px;
        padding: 10px;
        color:#F7B300;
        border-radius: 2px;
    }

    .navbar-menu a:hover {
        border-bottom: 2px solid #F7B300;
    }

    .hamburger-menu {
        display: none;
    }

    .restaurant-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 90%
    }
    
    .restaurant-cards {
        width: 47%;
    }
}

@media (min-width: 1024px) {

    .restaurant-cards {
        width: 32%;
    }

    .rest-address{
        padding: 0 10px;
    }
}

